:root {
  --greyple: #99AAB5;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.message-list-wrapper {
  position: absolute;
  bottom: 50px;
  overflow-y: auto;
  height: calc(100% - 50px);
}

.border-bottom {
  border-bottom: 1px solid var(--greyple);
}

.no-border {
  border: none !important;
}

.no-border:focus {
  box-shadow: none !important;
}

.border-top {
  border-top: 1px solid var(--greyple);
}

.full-height {
  height: 100%
}

.full-width {
  width: 100%;
}

.flex {
  display: flex !important;
}

.pin-bottom {
  position: absolute;
  bottom: 0;
}

.no-wrap {
  flex-wrap: nowrap !important;
}

.blurple {
  background-color: #7289da;
}

.full-white {
  background-color: #ffffff;
}

.greyple {
  background-color: var(--greyple) !important;
}

.dbnb {
  background-color: #2C2F33 !important;
}

.nqb {
  background-color: #23272A !important;
}

.black {
  background-color: #000000;
}

.white-text {
  color: #ffffff !important;
}

.greyple-text {
  color: var(--greyple);
}

.underline {
  text-decoration: underline;
}

.sm-text {
  font-size: .8rem;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.p-10 {
  padding: 10px;
}
.m-0 {
  margin: 0 !important;
}